.contact-section {
  width: 100%;
  height: auto;
  background: transparent;
  border-radius: 16px;
  padding: 2rem 1rem;
  display: flex;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.contact-container{
  padding: 40px 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #00DDDD;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-form-field {
  width: 100%;
}

.message-box textarea {
  resize: vertical;
}

button {
  align-self: center;
  min-width: 120px;
}

.input-field{
    background-color:transparent;
}

@media (max-width: 480px) {
  button {
    width: 100%;
  }
}