.project-section {
  width: 100%;
  height: auto;
  background: transparent;
  border-radius: 16px;
  padding: 2rem 1rem;
  display: flex;
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.project-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #00DDDD;
}

 .project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}


.project-card {
  width: 100%;
  max-width: 390px;  
  background: transparent;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

mat-card-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: linear-gradient( #034f5b , #4338bd, #510249 );
  border-radius: 8px 8px 0 0;
}

mat-card-title {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

mat-card-image {
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* Responsive layout */
@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 100%;
  }
}

@media (max-width: 599px) {
  .project-grid {
    grid-template-columns: 1fr;
    gap: 16px;
    max-width: 100%;
  }
}
