.experience-section {
  width: 100%;
  height: auto;
  background: transparent;
  border-radius: 16px;
  padding: 2rem 1rem;
  display: flex;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.experience-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #00DDDD;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.experience-card {
  width: 100%;
  max-width: 900px;
  background: transparent;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.experience-list {
  list-style: none;
  padding-left: 0;
}

.experience-list li {
  margin-bottom: 0.75rem;
  position: relative;
  padding-left: 1.5rem;
}

.experience-list li::before {
  content: '✔';
  position: absolute;
  left: 0;
  color: #3f51b5;
}


/* CSS for Lines/Stepper in front of each Experience card */
/* Uncomment only when you uncomment the Html code related to this. */

/* .timeline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-item {
  display: flex;
  position: relative;
}

.timeline-step {
  position: relative;
  margin-right: 20px;
  width: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 1;
}

.line {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: calc(100% - 24px);
  background-color: #c5c5c5;
  z-index: 0;
} */
